@font-face {
    font-family: 'bernardo_moda_semiboldregular';
    src: url('/Fonts/bernardo_moda_semibold-webfont.eot');
    src: url('/Fonts/bernardo_moda_semibold-webfont.eot?#iefix') format('embedded-opentype'), url('/Fonts/bernardo_moda_semibold-webfont.woff2') format('woff2'), url('/Fonts/bernardo_moda_semibold-webfont.woff') format('woff'), url('/Fonts/bernardo_moda_semibold-webfont.ttf') format('truetype'), url('/Fonts/bernardo_moda_semibold-webfont.svg#bernardo_moda_semiboldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bernardo_moda_boldregular';
    src: url('/Fonts/bernardo_moda_bold-webfont.woff2') format('woff2'), url('/Fonts/bernardo_moda_bold-webfont.woff') format('woff'), url('/Fonts/bernardo-moda.modabold.ttf') format('truetype');
    font-weight: bold;
    font-style: bold;
}

:root {
    touch-action: pan-x pan-y;
    height: 100%;
    --gold: #d4af37;
    --turquoise: #3bd1cc;
    --darkgrey: #262626;
    --lightgrey: #f8f9f9;
    --tagline-font: 'Heebo', sans-serif;
    --title-font: "bernardo_moda_boldregular", sans-serif;
    --sub-font: 'Open Sans', sans-serif;
    --sub-font: 'Open Sans', sans-serif;
    --text-font: 'Open Sans', sans-serif;
    --title-font-sz: ;
    --sub-font-sz: ;
    --text-font-sz: 1em;
    --text-color: #383838;
    --shadow-grey: rgba(0, 0, 0, 0.15);
    --box-shadow-hex: 7px 10px 1px var(--shadow-grey);
    --box-shadow-light: 7px 10px 1px var(--shadow-grey), 0px 0px 2px var(--shadow-grey);
    --box-shadow-dark: 1px 5px 0px #555;
    --stroke-width: 2px;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/* BASE */

html {
    font-family: var(--text-font);
    text-align: justify;
    color: var(--text-color);
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: 300;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform: scale(1.00001);
    -ms-transform: scale(1.00001);
    transform: scale(1.00001);
    width: 100vw;
    z-index: 1;
}

path {
    d: M0 0;
    fill: none;
    stroke: var(--gold);
    stroke-width: var(--stroke-width);
    stroke-dasharray: 3000;
    stroke-dashoffset: 3000;
    z-index: 1;
}

h1 {
    position: fixed;
    font-size: 1em;
    color: #fff;
}

h2 {
    margin-bottom: 1.5em;
}

h3 {
    font-size: 1.4em;
    margin: 3em 0 0em;
}

blockquote {
    padding: 0 10px;
    font-size: 1.2em;
    color: #666;
    font-weight: bold;
    font-style: italic;
    margin: 0px 20px;
    border-left: 2px solid var(--gold);
    margin-bottom: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
}


/* LAYOUT */

header {
    background: #fff;
    height: 50px;
    width: 100vw;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: var(--box-shadow-light);
    box-shadow: var(--box-shadow-light);
    z-index: 4;
}

#test {
    position: absolute;
    z-index: 5;
    font-size: .7em;
    width: 100vw;
    top: 50px;
}

section {
    background-color: #fff;
    width: 100vw;
    height: auto;
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.section__title {
    border: 1px solid var(--turquoise);
    -webkit-box-shadow: var(--box-shadow-light);
    box-shadow: var(--box-shadow-light), inset -1px -1px 2px rgba(50, 50, 50, .1);
    font-family: "bernardo_moda_boldregular";
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    font-size: 1.2em;
    padding: 10px 15px;
    height: auto;
    background: white;
    color: black;
    position: relative;
    left: -2px;
    z-index: 3;
    text-shadow: 0px 1px 2px rgba(50, 50, 50, .3);
}

.section__title-wrap {
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 3;
    background: none;
    width: 100vw;
}


/* MODULES */


/* Gen */

.nosel {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.resp {
    width: 100%;
    height: auto;
}

.card {
    padding: 20px;
    background: rgba(255, 255, 255, 0.99);
    z-index: 3;
    opacity: 1;
    -webkit-box-shadow: var(--box-shadow-light);
    box-shadow: var(--box-shadow-light);
}

.text p {
    margin-bottom: 1.5em;
}

.text {
    font-size: 1em;
    color: var(--text-color);
    font-family: var(--text-font);
    line-height: 1.6;
}

.blue-line {
    width: 30px;
    position: relative;
    border-bottom: 2px solid var(--turquoise);
    margin: 1.5em 0;
    left: 1px;
}

.heading {
    font-family: var(--sub-font);
    font-weight: bold;
    font-size: 1.2em;
    color: var(--txt-color);
    -ms-flex-item-align: bottom;
    -ms-grid-row-align: bottom;
    align-self: bottom;
    //text-shadow: 0px -1px 1px rgba(50,50,50, .2)
}

.nav-marker {
    position: relative;
    top: -55px;
}

.shaded {
    background: var(--lightgrey);
}

.flex-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.flex-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.card-title-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.center {
    text-align: center;
}


/* Header/Nav */

.header__logo-wrap {
    position: relative;
    margin-left: 10px;
    top: 2px;
}

.header__logo {
    position: relative;
    max-width: 120px;
}

.nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 4px;
    font-size: 1em;
    font-weight: 350;
    max-width: 700px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-right: 15px;
}

.nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    list-style: none;
    height: auto;
    margin: 0 10px;
    font-weight: 200px;
    border-bottom: 3px solid transparent;
}

.menu {
    position: relative;
    display: none;
    width: 36px;
    height: 36px;
    color: #666;
    margin-right: 10px;
}

.menu__list {
    font-size: 18px;
    display: none;
    flex-direction: column;
    //align-items: flex-end;
    position: absolute;
    top: 45px;
    left: -90px;
    background: white;
    box-shadow: var(--box-shadow-light);
}

.menu__list>li {
    padding: 5px 20px;
    text-align: left;
}

.menu__list>li:last-child {
    padding: 5px 20px 10px;
}

.menu__nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    list-style: none;
    height: auto;
    margin: 0 0;
    font-weight: 200px;
}

.menu__button {
    display: block;
    margin: 1em;
    position: absolute;
    width: 26px;
    transform: translate(-50%, -50%);
}

.menu__button:before,
.menu__button:after {
    background-color: #888;
    content: '';
    display: block;
    height: 2px;
    transition: all 200ms ease-in-out;
}

.menu__button:before {
    box-shadow: 0 9px 0 #888;
    margin-bottom: 16px;
}


/* Home */

.home__content {
    height: 100vh;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.home__wrap {
    position: relative;
    top: -50px;
}

.home__title-wrap {
    position: relative;
    width: 500px;
    left: 75px;
    font-size: 1em;
    z-index: 3;
    padding: 50px 2px;
    opacity: 1;
    -webkit-transition: opacity 1s ease-in 4.5s;
    -o-transition: opacity 1s ease-in 4.5s;
    transition: opacity 1s ease-in 4.5s;
}

.home__logo-thread {
    border-bottom: 2px solid var(--gold);
    width: 0;
    position: relative;
    left: 163px;
    top: 73px;
    z-index: 3;
    -webkit-transition: width 2s ease-in-out 1s;
    -o-transition: width 2s ease-in-out 1s;
    transition: width 2s ease-in-out 1s;
}

.home__the {
    z-index: 3;
}

.home__tagline {
    font-family: var(--tagline-font);
    color: #fff;
    position: relative;
    top: 2px;
    font-weight: 300;
    font-size: 2.88em;
    line-height: 1.00;
    -webkit-transition: color 1s ease-in 4.5s;
    -o-transition: color 1s ease-in 4.5s;
    transition: color 1s ease-in 4.5s;
    letter-spacing: 0.3px;
    z-index: 1;
}

.home__golden-thread {
    color: #fff;
    background: #fff;
    white-space: nowrap;
    width: 298px;
    padding: 0;
    z-index: -1;
    -webkit-transition: color 1s ease-in 4.5s;
    -o-transition: color 1s ease-in 4.5s;
    transition: color 1s ease-in 4.5s;
}

.home__mission-statement {
    text-align: left;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    width: 75vw;
    max-width: 500px;
    font-size: 0.98em;
    color: #fff;
    -webkit-transition: color 1s ease-in 5.3s;
    -o-transition: color 1s ease-in 5.3s;
    transition: color 1s ease-in 5.3s;
}

.home__logo-wrap {
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    font-family: "bernardo_moda_semiboldregular";
    left: -90px;
    top: 43px;
    
}

.home__logo-frame {
    position: relative;
    height: 101px;
    opacity: 0;
    -webkit-transition: opacity 1s ease-in 0s;
    -o-transition: opacity 1s ease-in 0s;
    transition: opacity 1s ease-in 0s;
}

.home__logo-outline {
    position: relative;
    height: 100px;
    left: -4px;
    z-index: 2;
}

.home__logo-fill {
    position: relative;
    height: 100px;
    -webkit-transition: left 2s ease-in-out 1s;
    -o-transition: left 2s ease-in-out 1s;
    transition: left 2s ease-in-out 1s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    left: -80px;
    top: 4px;
}

.home__logo-dolya {
    position: relative;
    left: 2px;
    top: -1px;
    font-size: 58px;
    font-weight: 100;
    color: white;
    -webkit-transition: color 2s ease-in 2.6s;
    -o-transition: color 2s ease-in 2.6s;
    transition: color 2s ease-in 2.6s;
}

.home__logo-consulting {
    position: relative;
    left: 7px;
    top: -2px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 13px;
    color: white;
    -webkit-transition: color 3s ease-in 3.1s;
    -o-transition: color 3s ease-in 3.1s;
    transition: color 3s ease-in 3.1s;
}

.home__logo-mask {
    overflow: visible;
    position: relative;
    height: 100px;
    width: 300px;
    left: 165px;
    top: -100px;
    z-index: 1;
    background: white;
}

.home__title-wrap>.blue-line {
    width: 0px;
    -webkit-transition: width .7s linear 5s;
    -o-transition: width .7s linear 5s;
    transition: width .7s linear 5s;
}


/* About */

.about__title-wrap {
    background: -o-linear-gradient(top, #FFF 50%, transparent 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #FFF), color-stop(50%, transparent));
    background: linear-gradient(to bottom, #FFF 50%, transparent 50%);
}

.about .card {
    opacity: 0;
}

.about__info-card {
    width: 90vw;
    max-width: 650px;
    margin: 20px 0;
    z-index: 3;
}

.about__info-card:first-of-type {
    margin-top: 70px;
}

.about__info-card:last-of-type {
    margin-bottom: 70px;
}

.about__content {
    background-color: transparent;
}

.about__background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-image: url('images/teampic2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 150px;
    z-index: -1;
    opacity: .5;
}

#svg2 {
    -webkit-filter: drop-shadow( 0px 0px 2px rgba(255, 255, 255, .6));
    filter: drop-shadow( 0px 0px 2px 1px rgba(255, 255, 255, .6));
}


/* Expertise */

.expertise__content {
    padding: 75px 0 20px;
}

.expertise__title-wrap {
    background: -o-linear-gradient(top, transparent 50%, #FFF 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, #FFF));
    background: linear-gradient(to bottom, transparent 50%, #FFF 50%);
}

.expertise__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 3;
}

.expertise__row:nth-child(2)>.hexagon {
    top: -9vw;
}

.hexagon {
    position: relative;
    width: 29vw;
    max-width: 200px;
    height: 34vw;
    max-height: 237px;
    margin: 1vw;
    opacity: 0;
    left: 0;
    z-index: 6;
}

.hexagon__line {
    width: 7vw;
    margin: 1.5vw 0px;
    border-bottom: 2px solid var(--gold);
    box-shadow: 0px 0px 2px rgba(50, 50, 50, .2)
}

.hexagon>img {
    position: absolute;
    max-width: 200px;
    -webkit-filter: drop-shadow(var(--box-shadow-hex));
    filter: drop-shadow(var(--box-shadow-hex));
    z-index: 1;
}

.hexagon__text-wrap {
    height: 100%;
    top: -.3vw;
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 1em;
    font-weight: 500;
    z-index: 3;
}


/* Dolya Mythology */

.dolya__title-wrap {
    background: white;
}

.dolya__content {
    padding: 72px 0;
    min-height: 650px;
}

.dolya__content-inner {
    width: 95vw;
    max-width: 600px;
    padding: 30px;
}

.dolya__heading,
.dolya__text {
    opacity: 0;
    -webkit-transition: opacity 1.8s ease-in 0.5s;
    -o-transition: opacity 1.8s ease-in 0.5s;
    transition: opacity 1.8s ease-in 0.5s;
}

.dolya__blue-line {
    width: 0;
    -webkit-transition: width 0.8s ease-in 1s;
    -o-transition: width 0.8s ease-in 1s;
    transition: width 0.8s ease-in 1s;
}


/* Values */

.values__content {
    padding: 100px 0;
}

.values__title-wrap {
    background: white;
}

.values__values {
    position: relative;
    width: 80vw;
    max-width: 600px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    z-index: 3;
}

.values__principles>.blue-line {
    width: 0;
    -webkit-transition: width 1s ease-in 2.25s;
    -o-transition: width 1s ease-in 2.25s;
    transition: width 1s ease-in 2.25s;
}

.values__principles>.heading {
    -webkit-transition: opacity 1s ease-in 2s;
    -o-transition: opacity 1s ease-in 2s;
    transition: opacity 1s ease-in 2s;
    opacity: 0;
}

.values__spacer {
    height: 30px;
}

.values__principles {
    padding: 10px;
    width: 85vw;
    max-width: 600px;
}

.values__principles-list {
    opacity: 0;
    -webkit-transition: opacity 1s ease-in 2.5s;
    -o-transition: opacity 1s ease-in 2.5s;
    transition: opacity 1s ease-in 2.5s;
    font-size: 1em;
}

.values__principles-list>li {
    margin: 0 0 15px 17px;
    text-align: left;
}

.values__icon-img {
    max-width: 60%;
}

.values__frame {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.values__icon-frame {
    width: 16vw;
    height: 16vw;
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    border: 2px solid var(--turquoise);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-filter: drop-shadow(3px 5px 1px rgba(0, 0, 0, .15));
    filter: drop-shadow(3px 5px 1px rgba(0, 0, 0, .15));
}

.values__icon-text {
    padding: 10px 0;
    font-size: 3vw;
    font-weight: 600;
    color: #262626;
}


/* Services */

.services__content {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    background-color: var(--lightgrey);
}

.services__content .blue-line {
    margin: 20px 0;
    border-bottom: 2px solid white;
}

.services__content .text {
    color: white;
}

.services__title-wrap {
    background: -o-linear-gradient(top, #FFF 50%, var(--lightgrey) 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #FFF), to(var(--lightgrey)) 50%);
    background: -o-linear-gradient(top, #FFF 50%, var(--lightgrey) 50%);
    background: linear-gradient(to bottom, #FFF 50%, var(--lightgrey) 50%);
}

.services__wrap {
    height: auto;
    z-index: 3;
    padding: 50px 0;
}

.services__content .card {
    opacity: 0;
    max-width: 700px;
    margin: 15px 10px;
    height: 85px;
    -webkit-transition: height 0.3s linear;
    -o-transition: height 0.3s linear;
    transition: height 0.3s linear;
    overflow: hidden;
    padding: 30px 50px;
}

.services__blue-arrow {
    position: relative;
    top: 4px;
    width: 1.2em;
    height: 0.9em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.path-services {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
}


/* Team */

.team__content {
    padding: 70px 0;
}

.team__title-wrap {
    background: -o-linear-gradient(top, var(--lightgrey) 50%, #FFF 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, var(--lightgrey)), color-stop(50%, #FFF));
    background: linear-gradient(to bottom, var(--lightgrey) 50%, #FFF 50%);
}

.team__pic-wrap>.card {
    width: 23vw;
    max-width: 170px;
    margin: 0 0.5vw;
    opacity: 0;
    padding: 0;
    transition: background-color .25s ease, color .25s linear;
    cursor: pointer;
}

.team__pic-wrap>.card>img {
    transition: filter .3s ease;
}

.team__pic-wrap {
    max-width: 770px;
    margin-bottom: 1vw;
}

.team__linkedin-button,
.team__profile-wrap a {
    height: 5vw;
    width: 5vw;
    max-width: 2em;
    max-height: 2em;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.team__profile-name {
    font-size: 1.4em;
    font-weight: normal;
    max-width: 13vw;
    position: relative;
    top: -2px;
    font-family: "bernardo_moda_boldregular";
    text-shadow: 0px 1px 2px rgba(50, 50, 50, .3);
}

.team__profile-wrap {
    position: relative;
    text-align: center;
    padding: 10px 0px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
}

.team__info {
    opacity: 0;
    max-width: 752px;
    width: 95vw;
    z-index: 3;
    height: auto;
}

.team__info .heading {
    -ms-flex-item-align: end;
    -ms-grid-row-align: end;
    align-self: flex-end;
}


/* Contact */

.contact__content {
    background: var(--darkgrey);
    color: #aaaaaa;
}

.contact__title-wrap {
    background: -o-linear-gradient(top, #fff 50%, var(--darkgrey) 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #fff), color-stop(50%, var(--darkgrey)));
    background: linear-gradient(to bottom, #fff 50%, var(--darkgrey) 50%);
}

.contact__terms-wrap a {
    color: #aaaaaa;
    -webkit-text-decoration: underline #aaaaaa;
    text-decoration: underline #aaaaaa;
}

.contact__wrap {
    text-align: center;
    font-size: 1em;
    margin: 30px 0 10px;
}

.contact__follow-us-wrap {
    margin: 20px 0 10px;
}

.contact__copyright {
    font-size: 0.8em;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 300;
}

.contact__terms-wrap {
    -ms-flex-pack: distribute;
    justify-content: center;
    margin: 0px 0px 10px;
}

.contact__privacy,
.contact__terms {
    margin: 0px 5px;
}

.contact__info {
    padding: 10px;
}

.contact__follow-button {
    width: 80px;
    height: auto;
    padding: 10px;
}


/* STATE */

.nav-link:hover {
    border-bottom: 3px solid var(--turquoise);
}

.menu__nav-link:hover {
    background: var(--turquoise);
}

.menu__nav-link:hover a {
    color: white;
}

::selection {
    background: var(--turquoise);
    color: #f9f9f9;
}

.team .card::selection {
    background: transparent;
    color: transparent;
}


/* Animations */

@-webkit-keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

@-webkit-keyframes pop-in2 {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
    }
    30% {
        opacity: 1;
        -webkit-transform: scale(0.3);
        transform: scale(0.3);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes pop-in2 {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


/* Media Queries */


/* 5 hex */

@media only screen and (min-width: 740px) {
    .values__icon-text {
        font-size: 1.2em;
    }
    .hexagon__text-wrap {
        font-size: 1.2em;
    }
    .expertise__row:nth-child(2)>.hexagon {
        top: -75px;
    }
    .hexagon__line {
        width: 50px;
        margin: 10px 0;
    }
    .hexagon {
        margin: 20px;
    }
}


/* 1 principles-spacer, 1 linkedinbut */

@media only screen and (max-width: 740px) {
    .hexagon__text-wrap {
        top: -.5vw;
    }
}


/* 1 hex-txt-wrp */

@media only screen and (max-width: 540px) {
    .hexagon__text-wrap {
        font-size: 0.8em;
        font-weight: 500;
    }
}


/* 1 hext-txt-wrp */

@media only screen and (max-width: 395px) {
    .hexagon__text-wrap {
        font-size: 0.7em;
        font-weight: 500;
    }
}


/* 1 nav link */

@media only screen and (max-width: 800px) {
    .main .nav-link {
        font-size: 0.9em;
        margin: 0 7px;
    }
}

@media only screen and (max-width: 700px) {
    .main .nav-link {
        margin: 0 5px;
    }
}

@media only screen and (max-width: 660px) {
    .nav-link {
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 490px) {
    .art-grid-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
        grid-gap: 20px;
        margin-top: 20px;

    }
    .art-card {
        padding: 0;
        width: 100%;
        justify-self: center;
        align-self: flex-start;
    }
}

@media only screen and (max-width: 400px) {
    .team__profile-name {
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 610px) {
    .main header {
        position: fixed;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 60px;
        justify-content: space-between;
    }
    .nav-list {

        position: relative;
        top: 3px;
    }
    .nav-list>li {
        display: none;
    }
    .menu {
        position: relative;
        display: block;
    }
    .header__logo-wrap {
        top: 5px;
        padding: 10px;
    }
    .nav-marker {
        top: -75px;
    }
    .values__spacer {
        height: 40px;
    }
}


/* mobile /tablet view homepage */

@media only screen and (max-width: 1099px) {
    .home__wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 95vw;
        max-width: 700px;
    }
    .home__title-wrap {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        max-width: 335px;
        left: 0;
        z-index: 3;
        top: -25px;
        margin: 0px;
        padding: 0px 2px;
    }
    .home__tagline-line {
        left: 1px;
        width: 0px;
        margin: 15px 0;
        border-bottom: 2px solid #37d4cb;
    }
    .home__tagline {
        position: relative;
        top: 2px;
        font-size: 2.1em;
        line-height: 1.00;
        letter-spacing: 0.3px;
        z-index: 1;
    }
    .home__golden-thread {
        width: auto;
        padding: 0;
    }
    .home__mission-statement {
        width: 100%;
        font-size: .9em;
        text-align: justify;
    }
    .home__logo-wrap {
        position: relative;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        font-family: "bernardo_moda_semiboldregular";
        left: -90px;
        top: 43px;
    }
    .home__logo-frame {
        height: 101px;
        opacity: 0;
    }
    .home__logo-outline {
        height: 100px;
        left: -4px;
    }
    .home__logo-fill {
        left: -80px;
        top: 4px;
    }
    .home__logo-dolya {
        left: 2px;
        top: -1px;
    }
    .home__logo-consulting {
        left: 7px;
        top: -2px;
    }
    .home__logo-mask {
        height: 100px;
        width: 250px;
        left: 165px;
        top: -100px;
        overflow: visible;
    }
}


/* small-screen mobile */

@media only screen and (max-width: 390px) {
    .home__wrap {
        width: 95vw;
    }
    .home__title-wrap {
        max-width: 310px;
        left: -5px;
    }
    .home__tagline-line {
        font-size: 1.96em;
    }
    .home__mission-statement {
        font-size: .8em;
    }
    .values__principles {
        max-width: 299px;
        left: 2px;
    }
}

@media only screen and (min-width: 750px) {
    .about__info-card {
        max-width: 800px;
    }
    .about .card {
        padding: 50px;
    }
    .about__background {
        width: 100vw;
        height: 100vh;
        position: fixed;
        background-image: url('images/teampic.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
        opacity: .7;
    }
    .expertise__content {
        height: 80vh;
        min-height: 700px;
    }
    .dolya__content {
        padding: 72px 0;
        height: 70vh;
    }
    .dolya__content-inner {
        padding: 60px 60px 45px;
        max-width: 800px;
        margin: 0px;
        //border: 1px solid red;
    }
    .values__values {
        max-width: 740px;
        padding: 0px 20px;
    }
    .values__principles {
        padding: 50px;
        max-width: 800px
    }
    .services__content .card {
        padding: 30px 50px;
        max-width: 800px;
        height: 85px;
        margin: 20px;
    }
    .team__info {
        padding: 50px;
    }
    .team__pic-wrap .card {
        width: 23vw;
        max-width: 190px;
        margin: 0 0.5vw;
        padding: 0;
    }
    .team__profile-wrap {
        //top: -4px;
        padding: 15px 10px;
    }
    .team__profile-name {
        font-size: 2em;
    }
    .text {
        font-size: 1em;
    }
    .section__title {
        font-size: 1.8em;
        padding: 15px 25px;
    }
}

@media only screen and (min-width: 1100px) {
    .path-about {
        z-index: 1;
        stroke-dasharray: 2000;
        stroke-dashoffset: 2000;
    }
}

