

  
  
#articles-wrap {
    width: 70vw;
    max-width: 700px;
    padding: 50px;
    
}
  
.article-button {
    margin-bottom: 0px;
    display: inline-block;
    background: var(--gold);
    padding: 5px 10px;
    font-weight: bold;
    color: white;
    
}
  
 .article-button > a {
    font-weight: bold;
    color: white;
    
}